%div.hero-unit
  %h1 Rhetoric.io
  %p Open data and datasets for the field of rhetoric &amp writing studies.
  = link_to "Get Involved", login_path, class: "btn btn-primary btn-large"

%h2 Current Datasets

%table.table.table-striped
  %tr
    %th.span6 Title
    %th.span6 Researchers
    %th.span3 URL

  - @datasets.each do |dataset|
    %tr
      %td.span6= dataset.title
      %td.span3= dataset.researchers
      %td.span3= dataset.url
